# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

*.log
*.bak
*.swp
*.zip
.vscode/
node_modules/
AppData/
Downloads/
Desktop/
Imagens/

# Ignorar arquivos temporários e de cache do sistema
Thumbs.db
ehthumbs.db

# Arquivos de IDEs adicionais
.idea/
*.sublime-workspace
*.sublime-project

# Arquivos do sistema operacional
*.bak
*.swp
*.swo
*.tmp
*.orig
*.swp

# Arquivos do VSCode
.vscode/*

# Arquivos do Windows
Desktop.ini
$RECYCLE.BIN/

# Arquivos do macOS
.DS_Store

# Arquivos específicos de OneDrive
OneDrive/
AppData/
Downloads/
Desktop/
Imagens/

# Arquivos de instalação
*.exe
*.msi
*.dmg

# Outros arquivos de logs ou temporários
*.log
*.pid
*.seed